fstests="/home/leomar/fstests/"

[mkosi]
config="/home/leomar/mkosi-kernel/"
options=[
	"--profile=fast-fstests",
	"--build-sources=/home/leomar/linux/:kernel",
]
fstests="/var/lib/xfstests"
timeout=60

[test_selection]
file_system="btrfs"

[output]
results_dir="results"
print_failure_list=true
print_n_slowest=10
print_duration_hist=true
print_test_regressions=10
