[pytest]
mkosi=              5
mkosi_config_dir=   /home/leomar/local/mkosi-kernel/
mkosi_options=      --profile=fastfstests
mkosi_fstests_dir=  /fstests/

targetpaths=        vm1:/home/leomar/local/fstests
                    vm2:/home/leomar/local/fstests
                    vm3:/home/leomar/local/fstests

host_fstests_dir=   /home/leomar/local/fstests/

tests=
group=              btrfs/auto
excludes=           btrfs/187
                    generic/562

results_db_path=    results/results.db

addopts=            -rsf --log-level WARNING 
